body {
  background-color: rgb(242,246,249);
}

#topbar {
  border-bottom: 1px solid black;
  background-color: white;
  height: 50px;
  line-height: 5em;
}

.content {
  display: inline-block;
}

.button {
  margin-bottom: 20px;
}

/*************************** DASHBOARD LEFT **********************/

#profile-top-banner {
  height: 95px;
  background-color: lightblue;
}

#profile-bottom-banner {
  height: 96px;
  background-color: white;
}

#profile-name {
  margin-left: 100px;
}

.username {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
}

#profile-picture {
  height: 80px;
  border-radius: 10px;
  position: relative;
  transform: translateY(-110%);
  left: 10px;
  border: 4px solid white;
}

/*************************** DASHBOARD CENTER **********************/

.your-tweet-div {
  height: 60px;
  background-color: rgb(223,239,245);
  margin: 0 auto;
  padding-left: 30px;
  border-radius: 10px 10px 0 0;
}

.your-tweet-profile-pic {
  height: 40px;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 20px;
  padding-right: 10px;
  /*display: inline-block;*/
}

.your-tweet {
  height: 35px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/************* STYLE CHANGES TO THE TWEET FIELD ON CLICK *************/

.your-tweet-div-expand {
  height: 150px;
}

.your-tweet-profile-pic-expand {
  top: 23%;
}

.your-tweet-expand {
  height: 85px;
  top: 37%;
}

#tweet-button {
  position: relative;
  top: 15%;
  left: 80%;
  background-color: rgb(43,145,193);
  color: white;
  font-weight: 600;
  font-size: 16px;
}

/*********************** STYLING THE TWEETS ****************************/

#tweet-div {
  padding-top: 20px;
  margin-bottom: 0;
}

.follow-tweet-div {
  padding-top: 20px;
  margin-bottom: 0;
}

.wall-pic {
  border-radius: 5px;
  height: 60px;
}

.span-name {
  font-weight: 600;
  font-size: 16px;
}

.span-user-name {
  opacity: .6;
}

.span-date {
  opacity: .6;
}
